<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/src/test.css">


    <title>Title</title>
</head>

<body>

<header>
</header>

<navi>
</navi>

<aside>
</aside>

<main>
<div>
    <a href = "../blog/" > <h1>  Detail View </h1> </a>
    <div>

            {{ object.name }} <br>
            {{ object.created }}

    </div>
</div>
</main>

<footer>
</footer>
</body>

</html>