{%   extends "ABS_bootstrap_list.html" %}





{%  block BODY %}








<div>
    <a href = "../" > <h1>  List View  </h1> </a><br>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href= "{% url 'create_info'    %}" >New</a>
          </div>

    <div>
        {% for i in object_list %}



          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <a href = "{% url 'detail_info'  i.pk   %}" 　> {{ i.name }}  </a>  <br>
              </h2>
              <h3 class="post-subtitle">

              </h3>
            </a>
            <p class="post-meta">  <a href="#"> {{ i.id }} </a>  {{ i.created }} </p>
          </div>
          <hr>


        {% endfor %}

    </div>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
      <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
        <span aria-hidden="true"> &laquo; </span>
      </a></li>
    {% endif %}

    {% for page in page_obj.paginator.page_range  %}

        <li class="page-item  {% if page == page_obj.number %} active {% endif %}  "><a class="page-link" href="?page={{ page }}"> {{ page }} </a></li>

    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span aria-hidden="true"> &raquo; </span>
      </a></li>
    {% endif %}

  </ul>
</nav>


{% endblock %}


