{%   extends "ABS_bootstrap_list.html" %}




{% block NAVI %}
    {% include "info/info_navi.html" %}
{% endblock %}



{%  block BODY %}




<div>
    <a href = "../" > <h1>  List View  </h1> </a><br>
    <div>
        {% for i in object_list %}



          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <a href = "{% url 'detail_info'  i.pk   %}" 　> {{ i.name }}  </a>  <br>
              </h2>
              <h3 class="post-subtitle">

              </h3>
            </a>
            <p class="post-meta">  <a href="#"> {{ i.id }} </a>  {{ i.created }} </p>
          </div>
          <hr>



        {% endfor %}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>

    </div>

</div>

{% endblock %}


