{%   extends "ABS_bootstrap_detail.html" %}

{%  block BODY %}

<div>
    <h1 style="color : red "> Delete View  </h1>
    {{ object.pk }} : is Delete ?
    <hr>
    <a href = "{% url 'detail_info' object.pk  %}" > <h1>  {{ object.name }} </h1> </a>

    {{ object.memo }}<br>
    {{ object.code }}

    <hr>
    <form method="post">
        {% csrf_token %}


        {% if user.is_authenticated %}
            <button type="submit" class = "btn btn-danger"> Delete </button>
            <a href = "{% url 'index_info' %}" class = "btn btn-outline-primary"> Cancel </a>
        {% endif %}

    </form>


</div>

{% endblock %}


