{%   extends "ABS_bootstrap_detail.html" %}



{%  block BODY %}

<div>
    <a href = "{% url 'index_info' %}" > <h1>  {{ object.name }} </h1> </a>

    {% if user.is_authenticated %}
            <span> <a href = "update"> Edit </a> </span>
            <span>  |  </span>
            <span> <a href = "delete"> Delete </a> </span>
    {% endif %}

    <form method="post" action="{% url "login" %}">
        {% csrf_token %}

        <table class="table">
            {{ form }}
        </table>


        <input type="hidden" name="next" value="{{ next }}" >

        <button class="btn btn-primary" type="submit"> Login </button>
    </form>

</div>

{% endblock %}



