{%   extends "ABS_ColorAdmin/ABS_COLORADMIN_BASE.html" %}
{% load static %}

{% block BODY %}

        {% include "ABS_ColorAdmin/ABS_COLORADMIN_BLOG_NAVI.html" %}

    <!-- begin #page-title -->
    <div id="page-title" class="page-title has-bg">
        <div class="bg-cover"><img src="{% static "color_admin/img/cover/cover-7.jpg" %}" alt="" /></div>
        <div class="container">
            <h1>About Me</h1>
            <p>Blog Concept Front End Page</p>
        </div>
    </div>
    <!-- end #page-title -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row row-space-30">
                <!-- begin col-9 -->
                <div class="col-md-9">
                    <!-- begin section-container -->
                    <div class="section-container">
                        <div class="post-image">
                            <img src="{% static "color_admin/img/about/about-me.jpg" %}" alt="" />
                        </div>
                        <h3 class="text-inverse">kyungwon lee</h3>
                        <p class="about-me-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id efficitur ipsum.
                            Praesent vulputate vulputate metus vulputate hendrerit. Sed in magna sit amet lorem congue
                            semper non vel tellus. Nam tempor molestie aliquet. Fusce ultrices magna efficitur,
                            sodales turpis ut, suscipit tortor. Mauris at sem pellentesque, fringilla ligula vel,
                            luctus metus.
                        </p>
                        <p class="about-me-desc">
                            Morbi convallis volutpat quam, sit amet fermentum massa.
                            Nulla ac faucibus risus. Suspendisse ante elit, faucibus sed pharetra nec,
                            laoreet sed enim. Integer consectetur, risus id semper porttitor, lacus dolor euismod magna,
                            id consectetur dui mi vitae lorem. Nam ac malesuada urna, vel mollis eros. Aliquam erat volutpat.
                        </p>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
        {% include "ABS_ColorAdmin/ABS_COLORADMIN_BLOG_ASIDE.html" %}

                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #content -->


        {% include "ABS_ColorAdmin/ABS_COLORADMIN_BLOG_FOOTER.html" %}
        {% include "ABS_ColorAdmin/ABS_COLORADMIN_BLOG_THEME.html" %}
{% endblock %}