{%   extends "ABS_ColorAdmin/ABS_E_BASE.html" %}
{% load static %}

{% block BODY %}
<body>


<!-- BEGIN #page-container -->
<div id="page-container" class="fade">

    {%  include "ABS_ColorAdmin/ABS_E_NAVI_LOGIN.html" %}
    {%  include "ABS_ColorAdmin/ABS_E_NAVI.html" %}


    {%  include "ABS_ColorAdmin/ABS_E_SUBSCRIBE.html" %}

    {%  include "ABS_ColorAdmin/ABS_E_TREND.html" %}

    {%  include "ABS_ColorAdmin/ABS_E_FOOTER.html" %}



</div>
<!-- END #page-container -->

    {%  include "ABS_ColorAdmin/ABS_E_PANEL.html" %}


{% endblock %}
