{%   extends "ABS_ColorAdmin/ONE/ABS_ONE_BASE.html" %}
{% load static %}

{% block BODY %}

    <!-- begin #page-container -->
    <div id="page-container" class="fade">

        {% include "ABS_ColorAdmin/ONE/ABS_ONE_NAVI.html" %}
<br><br><br><br>
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_ACTION.html" %}


        {% include "ABS_ColorAdmin/ONE/ABS_ONE_HOME.html" %}

        {% include "ABS_ColorAdmin/ONE/ABS_ONE_ABOUT.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_MILESTONE.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_TEAM.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_QUOTE.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_SERVICE.html" %}

        {% include "ABS_ColorAdmin/ONE/ABS_ONE_ACTION.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_WORK.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_CLIETN.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_PRICING.html" %}
        {% include "ABS_ColorAdmin/ONE/ABS_ONE_CONTACT.html" %}

        {% include "ABS_ColorAdmin/ONE/ABS_ONE_FOOTER.html" %}

        {% include "ABS_ColorAdmin/ONE/ABS_ONE_PANEL.html" %}

    </div>
    <!-- end #page-container -->

{% endblock %}
