{% load static %}
<!-- begin #home -->
<div id="home" class="content has-bg home">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="{%  static "color_admin/img/bg/bg-home.jpg" %}" alt="Home" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container home-content">
        <h1>CONECIEL</h1>
        <h3>portfolio</h3>
        <p>
            We have created a multi-purpose theme that take the form of One-Page or Multi-Page Version.<br />
            Use our <a href="#">theme panel</a> to select your favorite theme color.
        </p>
        <a href="/blog" class="btn btn-theme">Blog</a> <a href="/info" class="btn btn-outline">Info</a><br />
        <br />
        or <a href="#">subscribe</a> newsletter
    </div>
    <!-- end container -->
</div>
<!-- end #home -->